@import "../../css/variables.scss";

.loader-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 9999;
}

.ai-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60%;

  p {
    color: #3da7a7;
    font-weight: 600;
    font-size: 18px;
    font-family: "Courier New", Courier, monospace;
  }
}
