//colors
$primary-color: #02adb5ff;
$secondary-color: #e0f2f9ff;
$site-background: #dff2f9ff;
$error-color: rgb(243, 72, 72);
$background-white: #fff;

// text colors
$text-primary: #1db3bbff;
$text-secondary: #9ba9b0ff;
$text-black: #000;
$text-white: #fff;
$text-error: rgb(243, 72, 72);

//typography
$font-stack: "Inter", sans-serif;
