//colors
$primary-color: #02ADB5ff;
$secondary-color: #E0F2F9ff;
$site-background: #DFF2F9ff;
$error-color: rgb(243, 72, 72);

// text colors
$text-primary: #1DB3BBff;
$text-secondary: #9BA9B0ff;
$text-black: #000;
$text-white: #fff;
$text-error: rgb(243, 72, 72);

//typography
$font-stack: 'Inter', sans-serif;